@CHARSET "UTF-8";
/********************************************
	Kirjautumissivu
*********************************************/
body {
	position: relative;
	background-color: white; /* Jannen pyynnöstä valkoinen bg. Logo surkeasti tehty, hardcoded valkoinen bg. */
	font-family: Helvetica, 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	line-height: normal;
	font-size: large;
}

main.login_container {
	display: block;
	margin: auto; /* Keskittää */
	width: 400px; /* Chosen by trial and error */
}
img {
	display: block;
	margin: 0 auto -19px auto;
	padding: 9%;
}

fieldset {
	background-color: lightgrey;
	padding: 20px;
	margin: 20px 0; /* <top and bottom> <right and left> */
	border-radius: 5px; /* Pyöristää kulmat */
	border-color: #2f5cad;
}

legend {
	font-size: 105%;
	font-weight: bold;
	background-color: lightsteelblue;
	border-radius: 10px;
	padding: 5px 12px;
}

label {
	font-weight: bold;
}
input {
	padding: 8px 15px;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
}
input[type=submit] {
	padding: 8px 15px;
	border-radius: 4px;
	border: solid 1px;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

input[type=submit] { color:black; background-color: #9ebcee; border-color:#212121; }
input[type=submit]:hover { color:white; background-color: #0a3c93; border-color:#212121; }
input[type=submit]:disabled { color:dimgrey; background-color: darkgrey; border-color:#212121; }



* {
	/*outline: 1px solid black; */
}
