@CHARSET "UTF-8";
/********************************************
	Kirjautumissivu
*********************************************/
html {
	position: relative;
	min-height: 100%;
	/*height: 100%;*/
	font-size: 1em;
	line-height: 1.4;
}

body {
	/*height: 100%;*/
	/*position: relative;*/
	background-color: white;
	font-family: Helvetica, 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	line-height: normal;
	font-size: large;
}

main.login_container {
	display: block;
	/* Keskittää */
	width: 430px; /* Chosen by trial and error */
	margin: auto auto 3em;
}

main.login_container:last-child {
	margin-bottom: 40px;
}

img {
	display: block;
	margin: 0 auto -19px auto;
	padding: 9%;
	vertical-align: middle;
	background-color: white;
	border-radius: 0 0 30px 30px;
}

fieldset {
	background-color: lightgrey;
	padding: 25px;
	margin: 30px 0; /* <top and bottom> <right and left> */
	border-radius: 3px; /* Pyöristää kulmat */
	border-color: #2f5cad;
}

legend {
	font-size: 105%;
	background-color: lightsteelblue;
	border-radius: 3px;
	padding: 5px 20px;
	width: 63%;
	text-align: center;
	margin: auto;
}

input {
	padding: 8px 15px;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
	margin: 13px 0;
	font-weight: bold;
}
input[type=text],
input[type=password] {
	margin-top: 5px;
}
input[type=submit] {
	padding: 8px 15px;
	border-radius: 5px/20px;
	border: solid 1px;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

input[type=submit] { color:black; background-color: #9ebcee; border-color:#212121; }
input[type=submit]:hover { color:white; background-color: #0a3c93; border-color:#212121; }
input[type=submit]:disabled { color:dimgrey; background-color: darkgrey; border-color:#212121; }

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

#error {
	padding: 3px 20px 3px 20px;
}

.success,
.error,
.info,
.warning {
	position: relative;
	display: block;
	padding: 10pt 15pt;
	width: auto;
	margin-top: 15px;
	border: 1px solid #1d7ae2;
	border-radius: 0; /* To make it pop out */
}

.success { background-color: #DFF2BF; }
.error { background-color: #FFBABA; }
.info { background-color: lightsteelblue; }
.warning { background-color: lightgoldenrodyellow; }

/********************************************
	Footer
	Dropdown
********************************************/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.5em;
	padding: .4em 0;
	background-color: #2f5cad;
	color: white;
	text-align: center;
}

.footer-settings {
	position: relative;
	display: inline-block;
	float: right;
	padding-right: 1em;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/********************************************
	Material icons centering
********************************************/
.material-icons {
	vertical-align: middle !important;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
