@CHARSET "UTF-8";
/********************************************
	Kirjautumissivu
*********************************************/
html {
	min-height: 100%;
	height: 100%;
	font-size: 1em;
	line-height: 1.4;
}

body {
	height: 100%;
	position: relative;
	background-color: white;
	font-family: Helvetica, 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	line-height: normal;
	font-size: large;
}

main.login_container {
	display: block;
	margin: auto; /* Keskittää */
	width: 430px; /* Chosen by trial and error */
}

img {
	display: block;
	margin: 0 auto -19px auto;
	padding: 9%;
	vertical-align: middle;
	background-color: white;
	border-radius: 0 0 30px 30px;
}

fieldset {
	background-color: lightgrey;
	padding: 25px;
	margin: 30px 0; /* <top and bottom> <right and left> */
	border-radius: 3px; /* Pyöristää kulmat */
	border-color: #2f5cad;
}

legend {
	font-size: 105%;
	background-color: lightsteelblue;
	border-radius: 3px;
	padding: 5px 20px;
	width: 63%;
	text-align: center;
	margin: auto;
}

input {
	padding: 8px 15px;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
	margin: 13px 0;
	font-weight: bold;
}
input[type=text],
input[type=password] {
	margin-top: 5px;
}
input[type=submit] {
	padding: 8px 15px;
	border-radius: 5px/20px;
	border: solid 1px;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

input[type=submit] { color:black; background-color: #9ebcee; border-color:#212121; }
input[type=submit]:hover { color:white; background-color: #0a3c93; border-color:#212121; }
input[type=submit]:disabled { color:dimgrey; background-color: darkgrey; border-color:#212121; }

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .4rem;
	background-color: #2f5cad;
	color: white;
	text-align: center;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

#error {
	padding: 3px 20px 3px 20px;
}

.success,
.error,
.info,
.warning {
	position: relative;
	display: block;
	padding: 10pt 15pt;
	width: auto;
	margin-top: 15px;
	border: 1px solid #1d7ae2;
	border-radius: 0; /* To make it pop out */
}

.success { background-color: #DFF2BF; }
.error { background-color: #FFBABA; }
.info { background-color: lightsteelblue; }
.warning { background-color: lightgoldenrodyellow; }

* {
	/*outline: 1px solid black; */
}
